USE [master]
GO
/****** Object:  Database [ELAdb]    Script Date: 7/27/2017 2:07:32 PM ******/
CREATE DATABASE [ELAdb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ELAdb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.DHARMABEKTI\MSSQL\DATA\ELAdb.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ELAdb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.DHARMABEKTI\MSSQL\DATA\ELAdb_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ELAdb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ELAdb]
GO
/****** Object:  Table [dbo].[TBL_BANK_DETAIL]    Script Date: 7/27/2017 2:07:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_BANK_DETAIL](
	[BANK_DETAIL_ID] [int] IDENTITY(1,1) NOT NULL,
	[BANK_ID] [int] NULL,
	[QUESTION_NUMBER] [int] NULL,
	[QUESTION] [text] NULL,
	[TYPE] [varchar](50) NULL,
	[ANSWER1] [text] NULL,
	[ANSWER2] [text] NULL,
	[ANSWER3] [text] NULL,
	[ANSWER4] [text] NULL,
	[ANSWER5] [text] NULL,
	[ANSWER6] [text] NULL,
	[ANSWER7] [text] NULL,
	[COUNT_OF_CHOICE] [int] NULL,
	[TRUE_ANSWER] [varchar](50) NULL,
	[DELETED] [varchar](50) NULL,
 CONSTRAINT [PK_TBL_BANK_DETAIL] PRIMARY KEY CLUSTERED 
(
	[BANK_DETAIL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_BANK_SOAL]    Script Date: 7/27/2017 2:07:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_BANK_SOAL](
	[BANK_ID] [int] IDENTITY(1,1) NOT NULL,
	[TITLE] [varchar](max) NULL,
	[COUNT] [int] NULL,
	[DURATION] [float] NULL,
	[STATUS] [varchar](50) NULL,
	[DELETED] [varchar](10) NULL,
	[COUNT_OF_QUESTION] [int] NULL,
	[CREATE_AT] [datetime] NULL,
	[UPDATED_AT] [datetime] NULL,
	[USER_CREATE] [int] NULL,
 CONSTRAINT [PK_TBL_BANK_SOAL] PRIMARY KEY CLUSTERED 
(
	[BANK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_ROLE]    Script Date: 7/27/2017 2:07:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_ROLE](
	[ROLE_ID] [varchar](10) NOT NULL,
	[ROLE_NAME] [varchar](30) NULL,
 CONSTRAINT [PK_TBL_ROLE] PRIMARY KEY CLUSTERED 
(
	[ROLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_SCORE]    Script Date: 7/27/2017 2:07:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_SCORE](
	[SCORE_ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_ID] [int] NULL,
	[BANK_ID] [int] NULL,
	[SCORE] [float] NULL,
	[DURATION] [float] NULL,
	[CREATE_AT] [datetime] NULL,
	[STATUS] [varchar](50) NULL,
	[USER_CREATE] [int] NULL,
 CONSTRAINT [PK_TBL_SCORE] PRIMARY KEY CLUSTERED 
(
	[SCORE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_SCORE_DETAIL]    Script Date: 7/27/2017 2:07:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_SCORE_DETAIL](
	[SCORE_DETAIL_ID] [int] IDENTITY(1,1) NOT NULL,
	[SCORE_ID] [int] NULL,
	[BANK_DETAIL_ID] [int] NULL,
	[STATUS_ANSWERS] [varchar](50) NULL,
 CONSTRAINT [PK_TBL_SCORE_DETAIL] PRIMARY KEY CLUSTERED 
(
	[SCORE_DETAIL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_USER]    Script Date: 7/27/2017 2:07:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_USER](
	[USER_ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](50) NULL,
	[USERNAME] [varchar](30) NULL,
	[PASSWORD] [varchar](30) NULL,
	[CREATE_AT] [datetime] NULL,
	[ROLE_ID] [varchar](10) NOT NULL,
	[DELETED] [varchar](10) NULL,
	[UPDATED_AT] [datetime] NULL,
 CONSTRAINT [PK_TBL_USER] PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_BANK_DETAIL] ON 

INSERT [dbo].[TBL_BANK_DETAIL] ([BANK_DETAIL_ID], [BANK_ID], [QUESTION_NUMBER], [QUESTION], [TYPE], [ANSWER1], [ANSWER2], [ANSWER3], [ANSWER4], [ANSWER5], [ANSWER6], [ANSWER7], [COUNT_OF_CHOICE], [TRUE_ANSWER], [DELETED]) VALUES (1, 1, 1, N'What Your Name?', N'Multiple Choice', N'Jessy', N'Sean', N'Joe', N'', N'', N'', N'', 3, N'Answer 1', N'False')
INSERT [dbo].[TBL_BANK_DETAIL] ([BANK_DETAIL_ID], [BANK_ID], [QUESTION_NUMBER], [QUESTION], [TYPE], [ANSWER1], [ANSWER2], [ANSWER3], [ANSWER4], [ANSWER5], [ANSWER6], [ANSWER7], [COUNT_OF_CHOICE], [TRUE_ANSWER], [DELETED]) VALUES (2, 1, 2, N'Her Name is Nimas?', N'True - False', N'', N'', N'', N'', N'', N'', N'', 0, N'True', N'False')
INSERT [dbo].[TBL_BANK_DETAIL] ([BANK_DETAIL_ID], [BANK_ID], [QUESTION_NUMBER], [QUESTION], [TYPE], [ANSWER1], [ANSWER2], [ANSWER3], [ANSWER4], [ANSWER5], [ANSWER6], [ANSWER7], [COUNT_OF_CHOICE], [TRUE_ANSWER], [DELETED]) VALUES (3, 1, 3, N'Her Name is Jessy?', N'True - False', N'', N'', N'', N'', N'', N'', N'', 0, N'False', N'False')
SET IDENTITY_INSERT [dbo].[TBL_BANK_DETAIL] OFF
SET IDENTITY_INSERT [dbo].[TBL_BANK_SOAL] ON 

INSERT [dbo].[TBL_BANK_SOAL] ([BANK_ID], [TITLE], [COUNT], [DURATION], [STATUS], [DELETED], [COUNT_OF_QUESTION], [CREATE_AT], [UPDATED_AT], [USER_CREATE]) VALUES (1, N'QUIS 1', 4, 5, N'ON', N'False', 4, CAST(0x0000A7B200000000 AS DateTime), CAST(0x0000A7B500000000 AS DateTime), 3)
INSERT [dbo].[TBL_BANK_SOAL] ([BANK_ID], [TITLE], [COUNT], [DURATION], [STATUS], [DELETED], [COUNT_OF_QUESTION], [CREATE_AT], [UPDATED_AT], [USER_CREATE]) VALUES (2, N'QUIS 2', 3, 20, N'ON', N'False', 3, CAST(0x0000A7B200000000 AS DateTime), CAST(0x0000A7BC0090C84E AS DateTime), 3)
INSERT [dbo].[TBL_BANK_SOAL] ([BANK_ID], [TITLE], [COUNT], [DURATION], [STATUS], [DELETED], [COUNT_OF_QUESTION], [CREATE_AT], [UPDATED_AT], [USER_CREATE]) VALUES (3, N'QUIS 3', 4, 5, N'ON', N'False', 4, CAST(0x0000A7B300000000 AS DateTime), CAST(0x0000A7B500000000 AS DateTime), 3)
SET IDENTITY_INSERT [dbo].[TBL_BANK_SOAL] OFF
INSERT [dbo].[TBL_ROLE] ([ROLE_ID], [ROLE_NAME]) VALUES (N'ADM', N'Administrator')
INSERT [dbo].[TBL_ROLE] ([ROLE_ID], [ROLE_NAME]) VALUES (N'STD', N'Student')
INSERT [dbo].[TBL_ROLE] ([ROLE_ID], [ROLE_NAME]) VALUES (N'TCH', N'Teacher')
SET IDENTITY_INSERT [dbo].[TBL_SCORE] ON 

INSERT [dbo].[TBL_SCORE] ([SCORE_ID], [USER_ID], [BANK_ID], [SCORE], [DURATION], [CREATE_AT], [STATUS], [USER_CREATE]) VALUES (1, 6, 1, 50, 0, CAST(0x0000A7B9017DA061 AS DateTime), N'Yes', 3)
INSERT [dbo].[TBL_SCORE] ([SCORE_ID], [USER_ID], [BANK_ID], [SCORE], [DURATION], [CREATE_AT], [STATUS], [USER_CREATE]) VALUES (2, 7, 6, 0, 0, CAST(0x0000A7BC00AAA0E6 AS DateTime), N'Yes', 8)
INSERT [dbo].[TBL_SCORE] ([SCORE_ID], [USER_ID], [BANK_ID], [SCORE], [DURATION], [CREATE_AT], [STATUS], [USER_CREATE]) VALUES (3, 6, 6, 33.333333333333336, 0, CAST(0x0000A7BC00AAA4A1 AS DateTime), N'Yes', 8)
SET IDENTITY_INSERT [dbo].[TBL_SCORE] OFF
SET IDENTITY_INSERT [dbo].[TBL_SCORE_DETAIL] ON 

INSERT [dbo].[TBL_SCORE_DETAIL] ([SCORE_DETAIL_ID], [SCORE_ID], [BANK_DETAIL_ID], [STATUS_ANSWERS]) VALUES (6, 1, 13, N'True')
INSERT [dbo].[TBL_SCORE_DETAIL] ([SCORE_DETAIL_ID], [SCORE_ID], [BANK_DETAIL_ID], [STATUS_ANSWERS]) VALUES (7, 1, 1, N'True')
INSERT [dbo].[TBL_SCORE_DETAIL] ([SCORE_DETAIL_ID], [SCORE_ID], [BANK_DETAIL_ID], [STATUS_ANSWERS]) VALUES (8, 1, 2, N'False')
SET IDENTITY_INSERT [dbo].[TBL_SCORE_DETAIL] OFF
SET IDENTITY_INSERT [dbo].[TBL_USER] ON 

INSERT [dbo].[TBL_USER] ([USER_ID], [NAME], [USERNAME], [PASSWORD], [CREATE_AT], [ROLE_ID], [DELETED], [UPDATED_AT]) VALUES (1, N'Admin', N'Admin', N'Admin', CAST(0x0000000000001774 AS DateTime), N'ADM', N'False', NULL)
INSERT [dbo].[TBL_USER] ([USER_ID], [NAME], [USERNAME], [PASSWORD], [CREATE_AT], [ROLE_ID], [DELETED], [UPDATED_AT]) VALUES (3, N'Glady P', N'Glady', N'Glady', CAST(0x0000000000001777 AS DateTime), N'TCH', N'False', CAST(0x0000A7B9017F5437 AS DateTime))
INSERT [dbo].[TBL_USER] ([USER_ID], [NAME], [USERNAME], [PASSWORD], [CREATE_AT], [ROLE_ID], [DELETED], [UPDATED_AT]) VALUES (6, N'Bekti Suratmanto', N'Bekti', N'Bekti', CAST(0x0000A7B100000000 AS DateTime), N'STD', N'False', CAST(0x0000A7B700000000 AS DateTime))
SET IDENTITY_INSERT [dbo].[TBL_USER] OFF
/****** Object:  Index [RELATION_64_FK]    Script Date: 7/27/2017 2:07:33 PM ******/
CREATE NONCLUSTERED INDEX [RELATION_64_FK] ON [dbo].[TBL_BANK_DETAIL]
(
	[BANK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [TBL_BANK_DETAIL_PK]    Script Date: 7/27/2017 2:07:33 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [TBL_BANK_DETAIL_PK] ON [dbo].[TBL_BANK_DETAIL]
(
	[BANK_DETAIL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [TBL_BANK_SOAL_PK]    Script Date: 7/27/2017 2:07:33 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [TBL_BANK_SOAL_PK] ON [dbo].[TBL_BANK_SOAL]
(
	[BANK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [TBL_ROLE_PK]    Script Date: 7/27/2017 2:07:33 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [TBL_ROLE_PK] ON [dbo].[TBL_ROLE]
(
	[ROLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATION_66_FK]    Script Date: 7/27/2017 2:07:33 PM ******/
CREATE NONCLUSTERED INDEX [RELATION_66_FK] ON [dbo].[TBL_SCORE]
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATION_67_FK]    Script Date: 7/27/2017 2:07:33 PM ******/
CREATE NONCLUSTERED INDEX [RELATION_67_FK] ON [dbo].[TBL_SCORE]
(
	[BANK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [TBL_SCORE_PK]    Script Date: 7/27/2017 2:07:33 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [TBL_SCORE_PK] ON [dbo].[TBL_SCORE]
(
	[SCORE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATION_68_FK]    Script Date: 7/27/2017 2:07:33 PM ******/
CREATE NONCLUSTERED INDEX [RELATION_68_FK] ON [dbo].[TBL_SCORE_DETAIL]
(
	[SCORE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [TBL_SCORE_DETAIL_PK]    Script Date: 7/27/2017 2:07:33 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [TBL_SCORE_DETAIL_PK] ON [dbo].[TBL_SCORE_DETAIL]
(
	[SCORE_DETAIL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [RELATION_94_FK]    Script Date: 7/27/2017 2:07:33 PM ******/
CREATE NONCLUSTERED INDEX [RELATION_94_FK] ON [dbo].[TBL_USER]
(
	[ROLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [TBL_USER_PK]    Script Date: 7/27/2017 2:07:33 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [TBL_USER_PK] ON [dbo].[TBL_USER]
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TBL_BANK_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_TBL_BANK_DETAIL_TBL_BANK_SOAL1] FOREIGN KEY([BANK_ID])
REFERENCES [dbo].[TBL_BANK_SOAL] ([BANK_ID])
GO
ALTER TABLE [dbo].[TBL_BANK_DETAIL] CHECK CONSTRAINT [FK_TBL_BANK_DETAIL_TBL_BANK_SOAL1]
GO
ALTER TABLE [dbo].[TBL_SCORE]  WITH CHECK ADD  CONSTRAINT [FK_TBL_SCORE_TBL_BANK_SOAL] FOREIGN KEY([BANK_ID])
REFERENCES [dbo].[TBL_BANK_SOAL] ([BANK_ID])
GO
ALTER TABLE [dbo].[TBL_SCORE] CHECK CONSTRAINT [FK_TBL_SCORE_TBL_BANK_SOAL]
GO
ALTER TABLE [dbo].[TBL_SCORE]  WITH CHECK ADD  CONSTRAINT [FK_TBL_SCORE_TBL_USER] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[TBL_USER] ([USER_ID])
GO
ALTER TABLE [dbo].[TBL_SCORE] CHECK CONSTRAINT [FK_TBL_SCORE_TBL_USER]
GO
ALTER TABLE [dbo].[TBL_SCORE_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_TBL_SCORE_DETAIL_TBL_SCORE] FOREIGN KEY([SCORE_ID])
REFERENCES [dbo].[TBL_SCORE] ([SCORE_ID])
GO
ALTER TABLE [dbo].[TBL_SCORE_DETAIL] CHECK CONSTRAINT [FK_TBL_SCORE_DETAIL_TBL_SCORE]
GO
ALTER TABLE [dbo].[TBL_USER]  WITH CHECK ADD  CONSTRAINT [FK_TBL_USER_TBL_ROLE] FOREIGN KEY([ROLE_ID])
REFERENCES [dbo].[TBL_ROLE] ([ROLE_ID])
GO
ALTER TABLE [dbo].[TBL_USER] CHECK CONSTRAINT [FK_TBL_USER_TBL_ROLE]
GO
USE [master]
GO
